{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        {% block body %}{% endblock %}
    </div>
    <div class="col-md-3">
        {% block availableTagsSection %}{% endblock %}
    </div>
</div>
{% endblock %}