{% extends 'layout_2_column.html.twig' %}

{% block body %}
    <h2>Новости</h2>
    {% for post in posts %}
        <div>
            <h3>{{ post.title }} <small><sup><a href="{{ path('blog.edit.post',{id: post.id}) }}">[Редактировать]</a></sup></small></h3>
            <sup>Тип статьи: {% if post.type == 1 %} Обычная {% else %} Авторская {% endif %}</sup>
            {% if post.type == 2 %}
                <p><small>Автор: <a href="{{ post.link }}">{{ post.author }}</a></small></p>
            {% endif %}
            <p>{{ post.body|slice(0,200) }}</p>
            <a href="{{ path('blog.show.post', {id: post.id}) }}">Подробнее</a>
        </div>
    {% endfor %}
{% endblock %}

{% block availableTagsSection %}
    <a href="{{ path('blog.create.post') }}" class="btn btn-primary">Создать новую статью</a>
    <br />
    <br />
    <a href="{{ path('blog.create.post', {type: 'author'}) }}" class="btn btn-primary">Создать авторскую статью</a>
    <br />
    <h2>Категории</h2>
    <hr />
    <ul>
        <li><a href="{{ path('blog.list.posts') }}">Все подряд</a></li>
        {% for tag in availableTags %}
            <li><a href="{{ path('blog.list.posts', {tagId: tag.id}) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

