{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <sup>Тип статьи: {% if post.type == 1 %} Обычная {% else %} Авторская {% endif %}</sup>
    {% if post.type == 2 %}
        <p><small>Автор: <a href="{{ post.link }}">{{ post.author }}</a></small></p>
    {% endif %}

    <p>{{ post.body }}</p>

    <hr/>

    {% set created_at = post.getCreatedAt().format("Y-m-d H:i:s") %}
    {% set updated_at = post.getUpdatedAt().format("Y-m-d H:i:s") %}

    <small>Запись создана {{ created_at }}</small>

    {% if updated_at != created_at %}
        <br /><small>Последний раз отредактирована {{ updated_at }}</small>
    {% endif %}
    <br />
    <a href="{{ path('blog.list.posts') }}">Вернутся к списку</a>
{% endblock %}