{% extends 'layout.html.twig' %}

{% block content %}
    <form id="create_post_form" novalidate method="POST">
        {{ form_widget(create_post_form) }}
        <input type="submit" value="Продолжить" class="btn-blue"/>
    </form>
{% endblock %}